.*
!.editorconfig
!.eslintrc.js
!.devcontainer
# marking .git as ignored can confuse VSCode when editing .git/COMMIT_EDITMSG
!.git
!.github
!.gitignore
!.prettierignore
!.prettierrc.json
/data
/dist*
node_modules
